        * {
            margin: 0;
            padding: 0;
        }
        
        @font-face {
            font-family: "Open Sans";
            src: url(../fonts/OpenSans-Regular.woff);
            font-weight: 400;
            font-style: normal;
        }
        
        @font-face {
            font-family: "Open Sans";
            src: url(../fonts/OpenSans-Bold.woff);
            font-weight: 700;
            font-style: normal;
        }
        
        @media (max-width: 640px) {
            .main-header {
                background-image: url(../images/banner-mobile.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                background-color: #666666;
                position: relative;
                z-index: 0;
            }
            .main-header::before {
                content: "";
                background-color: #000000;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 60%;
                z-index: -1;
            }
            .container {
                width: 90%;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                align-items: center;
                justify-content: space-between;
                flex-direction: column-reverse;
                padding: 30px 0 0;
            }
            .menu {
                align-self: flex-end;
            }
            .logo-link {
                width: 80%;
                align-self: center;
                padding: 170px 0 0;
            }
            .menu-button {
                width: 25px;
                height: 20px;
                background-color: transparent;
                border: none;
                position: relative;
            }
            .menu-button-burger {
                width: 100%;
                height: 20%;
                background-color: #ffffff;
                border-radius: 5px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -10%;
                text-indent: -9999px;
            }
            .menu-button::before {
                content: "";
                width: 100%;
                height: 20%;
                background-color: #ffffff;
                border-radius: 5px;
                position: absolute;
                left: 0;
                top: 0;
            }
            .menu-button::after {
                content: "";
                width: 100%;
                height: 20%;
                background-color: #ffffff;
                border-radius: 5px;
                position: absolute;
                left: 0;
                bottom: 10%;
            }
            .menu-list {
                display: none;
            }
            .header-title {
                width: 80%;
                margin: 0 auto;
                padding: 40px 0 215px;
                font-size: 26px;
                line-height: 36px;
                font-family: OpenSans-Bold, Arial, sans-serif;
                font-weight: bold;
                color: #ffffff;
                text-transform: uppercase;
                text-align: center;
            }
            .trends-name {
                font-size: 16px;
                margin: 40px 0 25px;
            }
            .trend {
                min-height: 60vw;
                width: 100%;
            }
            .trend:nth-child(n+2) {
                margin: 2px 0 0;
            }
            .trend-block {
                margin: 15px;
                padding: 30px 20px;
            }
        }
        
        @media (min-width: 641px) and (max-width: 1199px) {
            .main-header {
                background-image: url(../images/banner-bg-tablet.jpg);
                width: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                background-color: #000000;
                position: relative;
                z-index: 0;
            }
            .main-header::before {
                content: "";
                background-color: #000000;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 60%;
                z-index: -1;
            }
            .container {
                width: 90%;
                padding: 42px 0 0;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                align-items: center;
                justify-content: space-between;
            }
            .logo {
                width: 160px;
            }
            .menu-button {
                width: 25px;
                height: 20px;
                background-color: transparent;
                border: none;
                position: relative;
            }
            .menu-button-burger {
                width: 100%;
                height: 20%;
                background-color: #ffffff;
                border-radius: 5px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -10%;
                text-indent: -9999px;
            }
            .menu-button::before {
                content: "";
                width: 100%;
                height: 20%;
                background-color: #ffffff;
                border-radius: 5px;
                position: absolute;
                left: 0;
                top: 0;
            }
            .menu-button::after {
                content: "";
                width: 100%;
                height: 20%;
                background-color: #ffffff;
                border-radius: 5px;
                position: absolute;
                left: 0;
                bottom: 9%;
            }
            .menu-list {
                display: none;
            }
            .header-title {
                width: 80%;
                margin: 0 auto;
                padding: 110px 0 125px;
                font-size: 40px;
                line-height: 55px;
                font-family: OpenSans-Bold, Arial, sans-serif;
                font-weight: bold;
                color: #ffffff;
                text-transform: uppercase;
                text-align: center;
            }
        }
        
        @media (min-width: 1200px) {
            .main-header {
                background-image: url(../images/banner-bg.jpg);
                width: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                background-color: #000000;
                position: relative;
                z-index: 0;
            }
            .main-header::before {
                content: "";
                background-color: #000000;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 60%;
                z-index: -1;
            }
            .container {
                padding: 26px 0 0;
                align-items: center;
                justify-content: space-around;
                display: flex;
                margin-left: auto;
                margin-right: auto;
            }
            .menu-button {
                display: none;
            }
            .menu-list {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                padding-left: 0;
                margin-top: 0;
                margin-bottom: 0;
            }
            .menu-list-item:nth-child(n+2) {
                margin-left: 35px;
            }
            .menu-link {
                font-family: OpenSans-Regular, Arial, sans-serif;
                line-height: normal;
                color: #f5f6f5;
                font-size: 13px;
                font-weight: normal;
                text-transform: uppercase;
                text-decoration: none;
            }
            .logo {
                width: 180px;
            }
            .header-title {
                width: 710px;
                padding: 125px 0 145px;
                margin: 0 auto;
                font-size: 45px;
                line-height: 75px;
                font-family: OpenSans-Bold, Arial, sans-serif;
                color: #ffffff;
                text-transform: uppercase;
                text-align: center;
            }
        }
        
        .trends-name {
            font-family: OpenSans-Bold, Arial, sans-serif;
            color: #0f0d0e;
            text-transform: uppercase;
            text-align: center;
        }
        
        .trends-name::after {
            content: "";
            display: block;
            margin: 14px auto 0;
            bottom: 0;
            height: 3px;
            width: 66px;
            background-color: #e1d9bd;
        }
        
        .trend-content {
            display: flex;
            flex-wrap: wrap;
        }
        
        .trend {
            display: flex;
            align-items: flex-end;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-color: #000000;
            position: relative;
            z-index: 0;
        }
        
        .trend:nth-child(1) {
            background-image: url(../images/trend1.jpg);
        }
        
        .trend:nth-child(2) {
            background-image: url(../images/trend2.jpg);
        }
        
        .trend:nth-child(3) {
            background-image: url(../images/trend3.jpg);
        }
        
        .trend:nth-child(4) {
            background-image: url(../images/trend4.jpg);
        }
        
        .trend::before {
            content: "";
            background-color: #000000;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 60%;
            z-index: -1;
        }
        
        .trend-block {
            width: 100%;
            border: 2px solid #b59f5b;
        }
        
        .trend-title {
            margin: 15px 0 0;
        }
        
        .trend-link {
            font-family: OpenSans-Bold, Arial, sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            color: #ffffff;
        }
        
        .content-list {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
        }
        
        .content-name:nth-child(n+2) {
            margin-left: 18px;
        }
        
        .content-link {
            font-size: 14px;
            font-family: OpenSans-Bold, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            color: #b59f5b;
        }